@import url('https://fonts.googleapis.com/css2?family=Encode+Sans:wght@200;300;400;500;600;700&family=Righteous&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;1,100;1,300;1,400;1,500;1,700&display=swap');
.container{
    background-color: #EEF9BF;
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    flex-direction: column;
}
.topo {
    background-color: #EEF9BF;
    width: 100vw;
    height: 150px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.nome{
    color: #75B79E;
    font-size: 56px;
    font-family: Roboto;
    font-weight: 700;
}
.card {
    width: 117px;
    height: 146px;
    background-color: #A7E9AF;
    border: 1px solid #99CEA8;
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 35px;
    margin-bottom: 35px;
}
.piriquito {
    width: 100px;
    height: 100px;
}
.cards {
    display: flex;
    flex-wrap: wrap;
}
@media (max-width: 614px){
.container{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 100%;
}
.nome {
    font-size: 36px;
    margin: 40px;
}
.cards {
    flex-direction: column;
}
}